/*
    Styles for PHP Blog
    Author: Elin Olsson, 2021.
*/


@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Roboto+Mono:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
    color:#2b2a2a; 
    font-size: 1.7em;

}

h1 {
    color: coral;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 0;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0;
    color: #2b2a2a
    
}

h3 {
    
}

a {
    text-decoration: none;
    color: coral;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: .9em;
}

a:hover {
    color: #2b2a2a;
}



p {
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.container { width: 100%; }

#page-wrapper { margin-top: 2em; }

section { margin-bottom: 2em; }

#container {
    width: 60%;
    margin: auto;
}


/* ---------------------------------------------------------------------------- */
/* FORMS */
form {
    display: flex;
    flex-direction: column;
}

button {
    background-color: coral;
}

input[type=submit] {
    background-color: coral;
    color: white;
    border: none;
    width: 10em;
}

input[type=submit]:hover {
    cursor: pointer;
}

textarea {
    height: 10em;
}

textarea:focus, input:focus{
    outline: none;
}


/* ---------------------------------------------------------------------------- */
/* HEADER AND MENU */

header {

    margin: auto;
    margin-bottom: 6rem;
    text-align: center;
    max-width: 960px;
    
}

header a {
    color: #2b2a2a;
    text-transform: uppercase;
    font-size: 1em;
}

header a:hover { color: coral; }

#header-logo { margin: auto; }


#mainmenu {
    display: flex;
    justify-content: space-between;
}

#mainmenu ul {
    display: flex;
    justify-content: space-between;
    width: 280px;
    padding-right: 2em; 
}



/* ---------------------------------------------------------------------------- */
/* FOOTER */

footer {
    text-align: center;
    margin-top: 3rem;
    padding-top: 1rem;
}

#sidebar {
    width: 20%;
}

/* ---------------------------------------------------------------------------- */
/* START AND BLOG PAGE */

.banner-text {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 6rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}

#search-user {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    width: 75%;
    text-align: right;
    font-family: 'Roboto Mono', monospace;
    font-size: .9em;
}

#user-list {
    float: right;
    text-align: right;
}


/* ---------------------------------------------------------------------------- */
/* POST PAGE */
#comments {
    margin-top: 4rem;
    border-top: 0.1rem solid coral;
    font-size: 0.8em;
}

#comments-header {
    font-size: 1.5rem;
    font-weight: 400;
}

#comment-form p {
    font-size: 2rem;
}

.post-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    
}

.post-img-big {
    width: 100%;
    margin-bottom: 1rem;
}

/* ---------------------------------------------------------------------------- */
/* LOGIN / REGISTRATION */
#login-form {
    width: 50%;
    
}

#registration-form {
    border: .7rem solid coral;
    padding: 2rem;
}


/* ---------------------------------------------------------------------------- */
/* USER PAGE */
#user-info {
    margin: auto;
    margin-bottom: 6rem;
    text-align: center;
}
#add-form {
    display: none;
}

#add-form-toggler {
    margin-right: 0;
}

#add-post-heading {
    margin-bottom: 2rem;
}

#upload-label, #warning {
    text-align: left;
}


#add-post-submit {
    margin-top: 2rem;
}


.flex-container {
    display: flex;
    justify-content: space-between;
}



#user-info h1 {
    text-transform: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}




.no-margin-bottom {
    margin-bottom: 0;
}

/* MESSAGES */
.message {
    font-weight: bold;
}

.error{
    color:coral;
    height: 2rem;
}

.h1-margin-bottom {
    margin-bottom: 2rem;
}

.center {
    text-align: center;
}

.border-top {
    border-top: 0.1em solid coral;
}



/* Breakpoint for mobile displays */
@media screen and (max-width: 600px) {
    #container {
        width: 95%;
    }

    #page-wrapper {
        padding: 0;
    }

    #login-form {
        width: 80%;
    }
    #add-form {
        width: 100%;
    }

    #registration-form {
        border: 0;
        border-top: 0.3rem solid coral;
        padding: 0;
        padding-top: 2rem;
    }

    #user-list {
        float: left;
        text-align: left;
    }

    #search-user {
        text-align: left;
    }
    
}


/* Breakpoint for larger displays */
@media screen and (min-width: 1900px) {
    #container {
        width: 40%;
    }
}